[data-theme="pog"] .hud-button {
  background: color-mix(in srgb, var(--md-surface) 30%, transparent);
  border: var(--md-border-width) solid var(--md-border-color);
  border-radius: var(--md-border-radius);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

[data-theme="pog"] #sidebar-container-outer {
  border-right: var(--md-border-width) solid var(--md-border-color);
}