@reference '../../assets/css/main.css';

[data-theme="blank"] {
    .theme-btn {
        @apply flex items-center justify-center;
    }

    .sb-group-header {
        @apply px-2.5;
    }

    .sidebar-scroll {
	@apply pr-3 pt-5;
}

	#nav-header {
        @apply mb-0 ml-3 mr-6 pb-5 pl-0  border-b-[length:var(--md-border-width)] border-b-[rgba(8,109,184,0.3)];
	}

    .chat-input-wrapper {
        min-height: 0px !important;
        padding-bottom: 28px !important;
    }

    .chat-inner-input-container {
        padding-bottom: 0 !important;
    }

    .chat-input {
        margin-bottom: 0 !important;
    }
}